html {
    overflow-x: hidden;
  }

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* ===== TITELS ===== */


.titles {
    position: relative;
    font-size: 30px;
    color: #4070F4;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
}

.titles::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    left: 0;
    right: 0;
    margin: auto;
    top: 50px;
    background-color: #4070F4;
}


/* ===== HEADER ===== */

header {
    display: flex;
    flex-direction: column;
}

nav {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    margin: 20px;
    padding: 10px;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav ul li a:hover {
    color: white;
    transition: 0.5s;
}

#menu {
    display: none;
}


/* ===== HOME ===== */



.home {
    background: url(./img/home.jpg) no-repeat center
    center/cover;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home h1 {
    margin: 0;
    font-size: 50px;
}

.home h2 {
    font-size: 30px;
}



/* ===== ABOUT ===== */


.about {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 20%;
    height: 380px;
}

.about img {
    width: 400px;
    min-width: 400px;
    height: 100%;
    min-height: 400px;
    padding-right: 10%;
}

.about-text {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    
}

.about-text p {
    text-align: justify;
    text-justify: inter-word;
    margin: 0;
}


/* ===== SKILLS ===== */



.skills {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 20%;
    height: 380px;
}

.skill {
    flex: 1 0 20%;
    margin: 5px;
    margin-top: 40px;
}

.skill i {
    font-size:  50px;
}

.skill img {
    width: 50px;
}



/* ===== PROJECTS ===== */


.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20%;
}

.projects div {
    display: flex;
}

.project {
    margin: 50px 0;
    border: 1px solid transparent;
    box-shadow: 0 2px 8px 0 rgba(173, 173, 173, 0.2), 0 6px 20px 0 rgba(161, 161, 161, 0.19);
    padding: 40px;

    transition: 0.5s;
}

.project:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

.project h3{
    margin: 20px 10px;
}

.project h1 {
    color: rgb(77, 76, 76);
    margin: 20px 10px;
}

.projects img {
    width: 100%;
    min-width: 500px;
    max-width: 500px;
    height: 100%;
    min-height: 300px;
    max-height: 300px;
    padding-right: 5%;
}

.project-right img{
    padding-right: 0;
    padding-left: 5%;
}

.about-project {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.project-right .about-project{
    align-items: flex-start;
}

.project p {
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
    margin: 20px 10px;
}

.project-left p {
    text-align: end;
}

.text {
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(173, 173, 173, 0.2), 0 6px 20px 0 rgba(161, 161, 161, 0.19);
}

.used-technology h3{
    color: white;
    background-color: rgb(64, 112, 244);
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;
}

.links a{
    font-size: 26px;
    color: black;
    margin: 0px 5px;
}

.links i:hover {
    color: rgb(64, 112, 244);
    transition: 0.3s;
}

#slash-eye {
    font-size: 26px;
    margin: 5px 5px;
    color: rgb(78, 76, 76);
}

#slash-eye:hover {
    color: rgb(78, 76, 76);
}

/* ===== FOOTER ===== */

footer {
    clear: both;
    margin-top: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: rgb(41, 40, 40);
    color: white;
    
}

footer p {
    margin-left: auto;
    margin-right: auto;
}

.footer-links a{ 
        font-size: 25px;
        color: rgb(78, 76, 76);
        margin: 0px 5px;

        transition: 0.5s ease;
}

.footer-links a:hover {
    color: white;
}


/* ===== SMALLER SCREENS ===== */


@media(min-width: 1350px) and (max-width: 1760px) {

    .about, .skills, .projects {
        padding: 0 10%;
    }
}

@media(min-width: 1120px) and (max-width: 1350px) {

    .about, .skills, .projects {
        padding: 0 5%;
    }
}

@media(max-width: 1120px) {

    .about, .skills, .projects {
        padding: 0 0;
    }

    .project {
        padding: 0;
    }

    .about-project p {
        margin: 10px 5px;
    }
}

@media(max-width: 1000px) {

    nav ul {
        display: none;
    }

    #menu {
        display: flex;
        cursor: pointer;
    }

    .about {
        flex-flow: row wrap;
        text-align: center;
        margin: 10%;
        margin-bottom: 350px;
    }

    .about img {
        padding: 0;
    }

    .about-text {
        width: 100%;
    }

    .about-text p {
        text-align: center;
    }

    .project-left{
        flex-flow: row wrap;
    }

    .project-right{
        flex-flow: row wrap;
    }

    .project-img-mobile {
        width: 100%;
        min-width: 500px;
        max-width: 500px;
        height: 100%;
        min-height: 300px;
        max-height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    #mobile-img1 {
        background: url(./img/work1.jpg) no-repeat center center/cover;
    }

    #mobile-img2 {
        background: url(./img/work2.jpg) no-repeat center center/cover;
    }

    #mobile-img3 {
        background: url(./img/work3.jpg) no-repeat center center/cover;
    }

    .project img {
        display: none;
    }

    .about-project {
        align-items: center;
    }

    .about-project p {
        text-align: center;
    }

    .project-right .about-project{
        align-items: center;
    }

}

@media(max-width: 520px) {
    .about {
        margin-bottom: 400px;
        }
}

@media(max-width: 450px) {
    
    .about img {
        width: 200px;
        min-width: 200px;
        height: 200px;
        min-height: 200px;
    }

    .skills {
        height: 650px;
    }
    
    .skill {
        flex: 1 0 31%;
    }

    .project-img-mobile {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        height: 200px;
        min-height: 200px;
        max-height: 200px;
    }

    .project-title {
        text-align: center;
    }

    .about-project p {
        margin: 5px 1px;
    }

    .used-technology h3{
        padding: 5px;
        margin: 10px 5px;
    }

}

@media(max-width: 300px) {
    .project-img-mobile {
        width: 200px;
        min-width: 200px;
        max-width: 200px;
        height: 100px;
        min-height: 100px;
        max-height: 100px;
    }
}